.hidden {
    display: none;
}
body {
    max-width: 100%;
    padding: 0%;
    background-color: #f3f3f3;
}

.active  {
    text-decoration: underline;
}
.two-grid {
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    row-gap: 2em;
    column-gap: 2em;
}
